<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confetti</title>
</head>
<body>
    <button id="button" style="background:#6cf7e4;color:rgb(0, 0, 0) ">CLICK</button>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
<!DOCTYPE html>
    <script>const button = document.querySelector('#button');

        const jsConfetti = new JSConfetti();
        
        button.addEventListener('click', () => {
            jsConfetti.addConfetti({
                confettiRadius: 5,
                confettiNumber: 1500,
                spread: 200
            })
        })
         </script>
</body>
</html>