<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    <!-- Just an image -->
<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="#">
        EVENT PAYMENT
    </a>
  </nav>

  <h2 class="text-center mt-5">Thanks for Payment . It Was Successfull.  </h2>
  
</body>
</html>